#sobre,
#servicos,
#portfolio,
#competencias,
#contato {
  padding: 10rem 0;
}

body {
  background-color: #48424f;
}
#bgimage,
#sobre, #fontes {
  background-color: #dadada;
}
.bgimage {
  height: 100vh;
  position: relative;
  background: url("img/turma-enedina.jpg");
  background-size: cover;
  max-block-size: 100%;
}
.heroTitle {
  font-size: 2.5rem;
}
.heroDesc {
  font-size: 1.5rem;
  padding-left: 45px;
  padding-right: 45px;
}
.heroText {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* imagem - biografia */
.aboutImage {
  width: 80%;
  border-radius: 15px;
}
.sobreMim {
  text-align: justify;
}

figure {
  float: left;
  padding: 0 12%;
  position: center;
  width: 40%;
}
figure img {
  width: 400px;
  height: 225px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#imagens {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.servicesIcon {
  height: 36px;
  text-align: center;
  width: 100%;
}

.cardTitle {
  text-align: center;
  padding: 0;
}
.cardText {
  text-align: justify;
  font-size: 1rem;
}
.links a {
  text-decoration: none;
  color: #121213;
}

nav {
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar {
  background-color: #121213;
  max-width: auto;
}

.navbar a {
  color: white;
  padding: 0.5rem;
}

.navbar a:hover {
  background-color: #ddd;
  color: #121216;
  border-radius: 4px;
  max-width: fit-content;
}


footer {
  background-color: #48424f;
}
/* footer.divIcon {
   flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: baseline; 
} */
.footerIcon {
  font-size: 1.5rem;
  color: rgb(163, 162, 167);
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: baseline; */
}
.footerIcon:hover {
  color: #adadad;
}
.footerDev {
  background-color: #121216;
}

.glass {
  /* From https://css.glass */
  position: absolute;
  height: 55%;
  left: 50%;

  top: 80%;

  transform: translate(-50%, -50%);

  /* From https://css.glass */
  background: rgba(47, 44, 47, 0.16);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(12px);
}
